label {
    margin-bottom: var(--small-padding);
}

input[type="submit"], input[type="text"], input[type="password"], input[type="tel"], input[type="number"], input[type="file"], input[type="search"], select {
    transition: var(--shadow-selection-animation);
    font-size: var(--btn-font-size);
    /*color: var(--btn-text-color);*/
    /*background-color: var(--btn-background-color);*/
    border-radius: var(--btn-border-radius);
    padding: var(--btn-padding);
    border: var(--btn-border);
    margin-bottom: var(--small-padding);
}

input[type="submit"] {
    transition: var(--btn-hover-animation)!important;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--btn-hover-background-color);
}

input[type="number"] {
    max-width: 8%;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
    padding-left: 15px;
    cursor: pointer;
    line-height: 24px;
}

input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: var(--radio-btn-width);
    height: var(--radio-btn-height);
    border: var(--radio-btn-border);
    border-radius: 50%;
    background-color: transparent;
}

input[type="radio"]:checked + label:before {
    background-color: var(--radio-btn-selected-color);
}

label {
    margin-right: var(--small-padding);
}
