.header {
    display: flex;
    background-color: var(--base-color);
    padding: var(--medium-padding);
    margin-bottom: var(--medium-padding);
}

.header p, .header h1 {
    color: var(--white);
}