.header {
    display: flex;
    background-color: var(--base-color);
    padding: var(--medium-padding);
    align-items: center;
}

.header p, .header h1 {
    color: var(--white);
}

.header h1:not(.UA) {
    text-decoration: underline var(--white) 5px;
    margin-right: var(--medium-padding);
    text-transform: uppercase;
    font-weight: 800;
}

h1.UA {
    margin-left: auto;
    color: transparent;
    font-weight: 1000;
    /*text-decoration: underline yellow;*/
    -webkit-text-stroke: 2px white;
}

.header img {
    max-width: 100%;
    width: 100px;
    height: auto;
    margin-right: var(--medium-padding);
}