:root {
    /* КОЛЬОРИ */
    --base-color: #759da4;
    --base-color-transparent: rgba(136, 183, 191, 0.4);
    --dark-base-color: #687275;
    --accent-color: #8A6086;
    --cta-color: #BD8262;
    --dark-cta-color: #58413B;
    --cta-light-color: #d3916e;
    --red: rgb(155, 25, 25);
    --light-red: rgb(220, 165, 165);
    --white: #f0f0f0;
    --white-transparent: rgba(255, 255, 255, 0.2);
    --light-gray: #f0f0f0;
    --gray: #e6e6e6;
    --dark-gray: #646464;
    --background-color: var(--white);

    /* ТЕКСТ */
    --font-size: 16px;
    --text-color: rgb(60, 60, 60);
    --font-family: 'Arial', sans-serif;
    --line-height: 1.5; /* Висота рядка */
    --font-weight: 400; /* Товщина тексту */
    --link-color: var(--accent-color); /* Колір посилань */
    --link-hover-color: var(--cta-light-color); /* Колір посилань при наведенні */

    /* ЗАГОЛОВКИ */
    --h1-size: 40px;
    --h1-color: var(--text-color);
    --h2-size: 30px;
    --h2-color: var(--accent-color);
    --h3-size: 20px;
    --h3-color: var(--text-color);

    /* ВІДСТУПИ */
    --small-padding: 8px;
    --medium-padding: 16px;
    --large-padding: 32px;

    /* КНОПКИ */
    --btn-font-size: 16px;
    --btn-text-color: var(--base-color);
    --btn-background-color: transparent;
    --btn-hover-background-color: var(--gray);
    --btn-hover-animation: background-color 0.2s ease;
    --btn-padding: var(--small-padding) var(--medium-padding);
    --btn-border-radius: 0;
    --btn-border: 1px solid black;

    /* ТІНІ */
    --shadow-selection: 0 0 5px var(--base-color);
    --shadow-selection-animation: box-shadow 0.1s ease;

    /* ЗОБРАЖЕННЯ */
    --img-border-radius: 15px;
    --img-max-width: 50%;

    /* ТАБЛИЦІ */
    --table-firsts-row-weight: 600;
    --table-firsts-row-color: var(--base-color);
    --table-firsts-row-text-color: var(--white);
    --table-rows-color: var(--light-gray);

    /* RADIO КНОПКИ */
    --radio-btn-selected-color: var(--cta-color);
    --radio-btn-border: 1px solid var(--base-color);
    --radio-btn-width: 10px;
    --radio-btn-height: 10px;

    /* ПОЛЯ ФОРМ */
    --input-background: var(--background-color);
    --input-border: 1px solid var(--base-color);
    --input-border-bottom: 3px solid var(--base-color);
    --big-input-border: 1px solid var(--base-color);
    --input-padding: var(--btn-padding);
    --input-margin: 0 var(--medium-padding) 0 0;
    --input-border-radius: 0;
}