:root {
    /* КОЛЬОРИ */
    --base-color: #646464; /* Середній відтінок сірого */
    --accent-color: #006699; /* Темно-синій */
    --cta-color: #c95e22; /* Яскравий оранжевий для виклику до дії */
    --background-color: #fafafa; /* Колір фону сайту */
    --red: rgb(185, 45, 45);
    --white: #FFFFFF;
    --light-gray: #f0f0f0;

    /* ТЕКСТ */
    --font-size: 16px;
    --text-color: rgb(60, 60, 60);
    --font-family: 'Arial', sans-serif;
    --line-height: 1.5; /* Висота рядка */
    --font-weight: 400; /* Товщина тексту */
    --link-color: var(--accent-color); /* Колір посилань */
    --link-hover-color: var(--cta-color); /* Колір посилань при наведенні */

    /* ЗАГОЛОВКИ */
    --h1-size: 40px;
    --h1-color: var(--text-color);
    --h2-size: 30px;
    --h2-color: var(--accent-color);
    --h3-size: 20px;
    --h3-color: var(--text-color);

    /* ВІДСТУПИ */
    --small-padding: 8px;
    --medium-padding: 16px;
    --large-padding: 32px;

    /* КНОПКИ */
    --btn-font-size: 16px;
    --btn-text-color: var(--white);
    --btn-background-color: var(--cta-color);
    --btn-hover-background-color: darken(var(--cta-color), 10%);
    --btn-padding: var(--small-padding) var(--medium-padding);
    --btn-border-radius: 5px;
    --btn-border: 1px solid black;

    /* ТІНІ */
    --shadow-selection: 0 0 5px var(--base-color);
    --shadow-selection-animation: box-shadow 0.1s ease;

    /* ЗОБРАЖЕННЯ */
    --img-border-radius: 15px;
    --img-max-width: 50%;

    /* ТАБЛИЦІ */
    --table-firsts-row-weight: 600;
    --table-firsts-row-color: var(--base-color);
    --table-firsts-row-text-color: var(--white);
    --table-rows-color: var(--light-gray);
}