body {
    background-color: var(--background-color);
    margin: 0;
    height: 100%;

    background-image: url("/static/images/raccoon.png");
    background-position: right bottom;
    background-size: 20%;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--cta-color);
    color: var(--white);
}

::-moz-selection {
    background-color: var(--cta-color);
    color: var(--white);
}

* {
    font-family: var(--font-family);
    transition: all 0.5s, transform 0.5s;
}

.page-container { /* sidebar + content */
    display: flex;
    min-height: 100vh;
    /*width: 100%;*/
    /*flex-direction: column;*/ /* сторінка цікаво виглядає з цім стилем. Є смисл його використовувати для мобільнмх версій */
}

.content { /* нестатичний вміст сторінки */
    padding: var(--large-padding);
    padding-bottom: 10%;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container.page-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container.page-right {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
}

p, a, li, th {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    text-decoration: none;
    line-height: var(--line-height);
    margin-bottom: var(--small-padding);
}

p, li, th {
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

h1 {
    font-size: var(--h1-size);
    color: var(--h1-color);
    margin: var(--small-padding) 0;
}

h2 {
    font-size: var(--h2-size);
    color: var(--h2-color);
    margin: var(--small-padding) 0;
}

h3 {
    font-size: var(--h3-size);
    color: var(--h3-color);
    margin: var(--small-padding) 0;
}

h1, h2, h3 {
    font-family: var(--heading-font-family)!important;
}

table {
    /* стилі таблиці, фактично, не використовуються через плагин DataTables */
    border-collapse: collapse;
    width: 100%; /* при оновленні сторінці база таблиця буде нормального розміру */
    table-layout: fixed;
    margin-bottom: var(--large-padding);
}

th, td {
    /* стилі таблиці, фактично, не використовуються через плагин DataTables */
    border: 1px solid var(--base-color);
    padding: 8px;
    text-align: center;
    word-wrap: break-word; /* дозволяє перенесення слів у осередку */
}

th {
    /* стилі таблиці, фактично, не використовуються через плагин DataTables */
    background-color: var(--table-rows-color);
}

thead th {
    /* стилі таблиці, фактично, не використовуються через плагин DataTables */
    font-weight: var(--table-firsts-row-weight);
    color: var(--table-firsts-row-text-color);
    background-color: var(--table-firsts-row-color);
}

img {
    border-radius: var(--img-border-radius);
    width: var(--img-max-width);
}

/* ФОРМАТУВАННЯ ТЕКСТУ */
.red-text {
    color: var(--red);
}

.cta-text {
    color: var(--cta-color);
}

.error-num {
    color: var(--red);
    font-size: calc(var(--h1-size) + 35px);
}

.error-message {
    background-color: var(--light-red);
    padding: 10px;
    /*width: 30%;*/
    /*border-radius: 10px;*/
    margin-bottom: var(--medium-padding);
    border: 5px solid var(--red);
}

.error-message h3 {
    font-weight: 600;
}

.error-message p, .error-message h3 {
    color: var(--red)!important;
}

#error {
    color: var(--red);
    font-size: calc(var(--font-size) + 2);
    text-align: center;
    font-style: normal;
    font-weight: 800;
}

.warning {
    color: var(--cta-color);
    font-weight: 600;
    font-size: calc(var(--font-size) + 15px);
}

.cta-underline {
    text-decoration: underline var(--cta-color) 2px;
    transition: all 0.5s;
    text-transform: lowercase;
    font-variant: small-caps;
}

.cta-underline:hover {
    text-decoration: underline var(--accent-color) 2px;
}

.important {
    font-size: calc(var(--font-size) + 15px);
    color: var(--cta-color);
}

.important-2 {
    padding: 2px 4px;
    background-color: var(--cta-color);
    color: var(--dark-cta-color)!important;
    border-radius: 5px;
    font-weight: 1000;
    font-variant: small-caps;
}

.important-3 {
    padding: 2px 6px;
    background-color: var(--white);
    color: var(--base-color)!important;
    border-radius: 5px;
    font-weight: 1000;
    font-variant: small-caps;
}

.not-important {
    font-size: calc(var(--font-size)/1.1);
}

.unimportant {
    font-size: calc(var(--font-size)/1.5);
}

.accept {
    color: var(--base-color);
    font-weight: 800;
    text-transform: uppercase;
}

.cancel {
    color: var(--red);
    font-weight: 800;
    text-transform: uppercase;
}

/* СТИЛІ ПО ОКРЕМИМ СТОРІНКАМ */
.rights {
    /* Стилі блоку прав на сторінці профілю */
    text-align: center;
    border: 2px solid var(--cta-color);
    padding-right: var(--large-padding);
}

.underline-animation {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden; /* Забезпечує обмеження для псевдоелемента */
}

.underline-animation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%; /* Початкова ширина підкреслення */
    height: 2px; /* Висота підкреслення */
    background: currentColor; /* Колір підкреслення буде такий, як у тексту */
    transition: width 0.3s ease-in-out; /* Анімація зростання ширини */
}

.underline-animation:hover::after,
.underline-animation:focus::after {
    width: 100%; /* Кінцева ширина підкреслення */
}

