body {
    background-color: var(--background-color);
    margin: 0;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--cta-color);
    color: var(--white);
}

::-moz-selection {
    background-color: var(--cta-color);
    color: var(--white);
}

* {
    font-family: var(--font-family);
}

.page-container { /* sidebar + content */
    display: flex;
    min-height: 100vh;
    /*width: 100%;*/
    /*flex-direction: column;*/ /* сторінка цікаво виглядає з цім стилем. Є смисл його використовувати для мобільнмх версій */
}

.content { /* нестатичний вміст сторінки */
    padding: var(--large-padding);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container.page-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p, a, li, th {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    text-decoration: none;
    line-height: var(--line-height);
    margin-bottom: var(--small-padding);
}

p, li, th {
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

h1 {
    font-size: var(--h1-size);
    color: var(--h1-color);
    margin: var(--small-padding) 0;
}

h2 {
    font-size: var(--h2-size);
    color: var(--h2-color);
    margin: var(--small-padding) 0;
}

h3 {
    font-size: var(--h3-size);
    color: var(--h3-color);
    margin: var(--small-padding) 0;
}

table {
    /* стилі таблиці, фактично, не використовуються через плагин DataTables */
    border-collapse: collapse;
    width: 100%; /* при оновленні сторінці база таблиця буде нормального розміру */
    table-layout: fixed;
    margin-bottom: var(--large-padding);
}

th, td {
    /* стилі таблиці, фактично, не використовуються через плагин DataTables */
    border: 1px solid var(--base-color);
    padding: 8px;
    text-align: center;
    word-wrap: break-word; /* дозволяє перенесення слів у осередку */
}

th {
    /* стилі таблиці, фактично, не використовуються через плагин DataTables */
    background-color: var(--table-rows-color);
}

thead th {
    /* стилі таблиці, фактично, не використовуються через плагин DataTables */
    font-weight: var(--table-firsts-row-weight);
    color: var(--table-firsts-row-text-color);
    background-color: var(--table-firsts-row-color);
}

img {
    border-radius: var(--img-border-radius);
    width: var(--img-max-width);
}

.red-text {
    color: var(--red);
}

.cta-text {
    color: var(--cta-color);
}

.error-num {
    color: var(--red);
    font-size: calc(var(--h1-size) + 35px);
}

.error-message {
    background-color: var(--light-red);
    padding: 10px;
    /*width: 30%;*/
    border-radius: 10px;
    margin-bottom: var(--medium-padding);
}

.error-message h3 {
    font-weight: 600;
}

.error-message p, .error-message h3 {
    color: var(--red)!important;
}

.warning {
    color: var(--cta-color);
    font-weight: 600;
    font-size: calc(var(--font-size) + 15px);
}

.cta-underline {
    text-decoration: underline var(--cta-color);
}

.rights {
    text-align: center;
    border: 2px solid var(--cta-color);
    padding-right: var(--large-padding);
}


